<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

<Product Name='gnutls' Id='7798c106-af91-4f34-b26e-4e090df2ed28' UpgradeCode='eac01833-ca15-4089-9534-f2f2c9be283d'
  Language='1033' Codepage='1252' Version='1.1.0' Manufacturer='ReactOS Project'>
  
  <Package Id='*' Keywords='Installer' Description="ReactOS GNUTLS Installer"
    Manufacturer='ReactOS Project' InstallerVersion='405' Compressed='yes' SummaryCodepage='1252' />
  
  <Media Id='1' Cabinet='media.cab' EmbedCab='yes' CompressionLevel='high'/>
  
  <Directory Id='TARGETDIR' Name='SourceDir'>
    <Directory Id='SystemFolder'>
      <Directory Id='APPLICATIONROOTDIRECTORY' Name='gnutls' />
    </Directory>
  </Directory>
  
  <DirectoryRef Id="APPLICATIONROOTDIRECTORY">
    <Component Id="Libraries" Guid="bf4090c6-bf28-4315-ae21-99362108d5c6">
      <File Id="libgcc" Source="libgcc_s_sjlj-1.dll" KeyPath="yes" Checksum="yes" />
      <File Id="libgmp" Source="libgmp-10.dll" Checksum="yes" />
      <File Id="libgnutls" Source="libgnutls-28.dll" Checksum="yes" />
      <File Id="libhogweed" Source="libhogweed-2-5.dll" Checksum="yes" />
      <File Id="libnettle" Source="libnettle-4-7.dll" Checksum="yes" />
      <File Id="libp11" Source="libp11-kit-0.dll" Checksum="yes" />
      <File Id="libwinpthread" Source="libwinpthread-1.dll" Checksum="yes" />
      <File Id="zlib" Source="zlib1.dll" Checksum="yes" />
    </Component>
  </DirectoryRef>
  
  <Feature Id='Complete' Level='1'>
    <ComponentRef Id='Libraries' />
  </Feature>
</Product>
</Wix>